---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bookapp</title>
	</head>
	<body>
		<header>
			<div class="izquierda">
				<p class="logo">Bookapp</p>
			  </div>
			  <div class="centro">
				<input class="buscador" type="text" placeholder="Buscar libro..." />
			  </div>
			  <div class="derecha"></div>
</header>
<div class="CRIMEN Y CASTIGO">
<div class="portada CC" class="postadas">
	<img src="https://images.cdn1.buscalibre.com/fit-in/360x360/ea/1f/ea1fc691874fa49ce341d876a981e2c1.jpg" alt="Crimen y castigo"><>
</div>
</div>
<div class="GUERRA Y PAZ">
	<div class="portada GP" class="portadas">
		<img src="https://images.cdn1.buscalibre.com/fit-in/360x360/0b/f0/0bf0143cbf547cb289b7fd5a199918c7.jpg" alt="Guerra y Paz">
	</div>
</div>
<div class="DE SANGRE Y CENIZAS">
	<div class="portada SC" class="portadas">
		<img src="https://images.cdn3.buscalibre.com/fit-in/360x360/80/2b/802ba3c371a3230cf2cab5ea3cace539.jpg" alt="De Sangre y Cenizas ">
	</div>
</div>
<div class="ALCHEMISED">
	<div class="portada AL" class="portadas">
		<img src="https://images.cdn1.buscalibre.com/fit-in/360x360/8d/36/8d36b009abe2d0543ed13c7ecae325a3.jpg" alt="Alchemised">
	</div>
</div>
<div class="EL NOMBRE DEL VIENTO">
	<div class="portada NV" class="portadas">
		<img src="https://images.cdn3.buscalibre.com/fit-in/360x360/fa/3c/fa3cd0450f8f59f3e4dcf35b4e0f8b71.jpg" alt="El Nombre del Viento">
	</div>
</div>
<div class="LA PACIENTE SILECIOSA">
	<div class="portada PS" class="portadas">
		<img src="https://images.cdn3.buscalibre.com/fit-in/360x360/9b/dc/9bdc056125f623ae5d69389ae602ed3f.jpg" alt="La paciente silenciosa">
	</div>
</div>
<div class="EL EXORCISTA">
	<div class="portada EX" class=portadas>
		<img src="https://images.cdn2.buscalibre.com/fit-in/360x360/16/36/1636969ca7d9db88dcf50befa47176e4.jpg" alt="El Exorcista">
	</div>
</div>
<div class="ALAS DE SANGRE">
	<div class="portada AS" class="portadas">
		<img src="https://images.cdn3.buscalibre.com/fit-in/360x360/c3/5f/c35fc92e21395ef73a3e5b81bc165e4f.jpg" alt="Alas de Sangre">
	</div>
</div>
<div class="BUTCHER & BLACKBIRD">
	<div class="portada BB" class="portadas">
		<img src="https://images.cdn1.buscalibre.com/fit-in/360x360/4f/fb/4ffb034d69ad4718cbd910ec6ee78fed.jpg" alt="Butcher & Blackbird">
	</div>
</div>
<div class="1984">
	<div class="portada 1984" class="portadas">
		<img src="https://images.cdn1.buscalibre.com/fit-in/360x360/ab/54/ab54a82815e061d7fc8f22bcd22f2605.jpg" alt="1984">
	</div>
</div>
<div class="NOCHES BLANCAS">
	<div class="portada NB" class="portadas">
		<img src="https://images.cdn1.buscalibre.com/fit-in/360x360/57/e8/57e8e70dfbb10f075ec05d31fa60ca05.jpg" alt="Noches Blancas">
	</div>
</div>
<div class="EL FIN DE LOS DIAS">
	<div class="portada FD" class="portadas">
		<img src="https://images.cdn2.buscalibre.com/fit-in/360x360/fb/ff/fbff905d12933a993683ac1b4a35e378.jpg" alt="El Fin de los Dias">
	</div>
</div>
<div class="MISERY">
	<div class="portada MY" class="portadas">
		<img src="https://images.cdn3.buscalibre.com/fit-in/360x360/87/ca/87caa062cba78a9fe0746a4e6ad6d009.jpg" alt="Misery">
	</div>
</div>
<div class="TRONO DE CRISTAL">
	<div class="portada TC" class="portadas">
		<img src="https://images.cdn2.buscalibre.com/fit-in/360x360/0b/51/0b512e207cb51dd2d5eb5ebf8aaabcd7.jpg" alt="Trono de Cristal">
	</div>
</div>
	</body>
</html>



<style>
	* { margin: 0; padding: 0; box-sizing: border-box; }

	body {
      background-color: #ebe4c7;
      min-height: 100vh;
      padding: 2rem;
    }


header {
  background-color: rgb(122, 122, 91);
  padding: 1rem;
  display: flex;
  align-items: center;
  
}
.izquierda, .centro, .derecha {
  flex: 1;
  display: flex;
  justify-content: center;
}
.logo {
	font-family: Georgia, serif;
    color: #e6e1da;
}
.buscador {
  width: 7cm;
  padding: 0.5rem 1rem;
  border: 1px solid #c4a882;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: white;
}
.izquierda{
	justify-content: flex-start;
	font-size: 27px;
}
 </style>