---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bookapp</title>
	</head>
	<body>
		
	</body>
</html>



<style>
	* { margin: 0; padding: 0; box-sizing: border-box; }

	body {
      background-color: #ebe4c7;
      font-family: Georgia, serif;
      color: #c8b89a;
      min-height: 100vh;
      padding: 2rem;
    }
 </style>