---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bookapp</title>
	</head>
	<body>
		<header>
			<div class="izquierda">
				<p class="logo">Bookapp</p>
			  </div>
			  <div class="centro">
				<input class="buscador" type="text" placeholder="Buscar libro..." />
			  </div>
			  <div class="derecha"></div>
</header>
	</body>
</html>



<style>
	* { margin: 0; padding: 0; box-sizing: border-box; }

	body {
      background-color: #ebe4c7;
      min-height: 100vh;
      padding: 2rem;
    }


header {
  background-color: rgb(122, 122, 91);
  padding: 1rem;
  display: flex;
  align-items: center;
  
}
.izquierda, .centro, .derecha {
  flex: 1;
  display: flex;
  justify-content: center;
}
.logo {
	font-family: Georgia, serif;
    color: #e6e1da;
}
.buscador {
  width: 7cm;
  padding: 0.5rem 1rem;
  border: 1px solid #c4a882;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: white;
}
.izquierda{
	justify-content: flex-start;
	font-size: 27px;
}
 </style>